[2012-12-04 19:40] ttarhan opened #1 "Compile error: re.h and rem_fir.h missing"
The following error is observed during the build:

CC      /Users/ttarhan/Development/OpenSource/baresip/build/armv7/librem/fir/fir.o
src/fir/fir.c:9:16: error: re.h: No such file or directory
src/fir/fir.c:10:21: error: rem_fir.h: No such file or directory

[2012-12-10 14:21] AdilSoomro opened #2 "dyld: Library not loaded: libre.dylib Reason: image not found"
I followed your guidelines and was able to make library.

I draged the resulted armv7 folder to my project and added single line in AppDelegate's `didFinishLaunchingWithOptions` method..

[code]

when I `command + click` on this method, it reveals the method in `...armv7/include/re/re_main.h` file.

I'm able to compile it. but when I run it crashes and shows following debug info in logs

[code]

H

[2012-12-18 13:52] AdilSoomro opened #3 "Error Code:43 Protocol not supported"
I've been trying to solve this out.
I've been following [this open source project](http://tomeko.net/software/SIPclient/index.php) which is written c/c++, I was trying to replicate the login/registration on sip server part, but always getting

`SIP register failed: Protocol not supported`

[This](https://gist.github.com/4328066) is the code which I've tried so far.

Any insight to this issue?

[2013-02-03 15:09] TheSquad opened #4 "unable to compile..."
Hi, I'm facing a weird issue...

compilation seems to work fine until

CC      /Users/mgs/Project/libp2p/baresip-ios-master/build/armv6/libre/sys/fs.o
CC      /Users/mgs/Project/libp2p/baresip-ios-master/build/armv6/libre/sys/rand.o
CC      /Users/mgs/Project/libp2p/baresip-ios-master/build/armv6/libre/sys/sleep.o
CC      /Users/mgs/Project/libp2p/baresip-ios-master/build/armv6/libre/sys/sys.o
CC

[2013-02-03 15:14] #4 closed, assigned to nobody

[2013-08-02 20:17] chenlucu opened #5 "Does video work for Android ?"
It seems that Camera and Video display modules do not support Android yet. Is that right ? Or I am missing something.

[2014-10-17 06:53] tuanphung opened #8 "Enable Speaker on iPhone"
Hi,

I have worked on Baresip for some days to build a Sip client on iPhone. It's working great!
Now, I want to implement a button that be able to Mute or using Speaker, how can do it?

Thanks,
Tuan.

[2014-11-15 09:06] ivanlin opened #9 "Guide or Xcode sample code to show how to integrate baresip libraries and iOS project"
Hi,

Is there any guide or Xcode sample code to show how to enable video and audio functions with this baresip libraries?

Thanks.

Ivan

[2014-11-23 17:32] #1 closed, assigned to nobody

[2014-11-23 17:34] #2 closed, assigned to nobody

[2014-11-23 17:36] #3 closed, assigned to nobody

[2014-11-23 17:37] #5 closed, assigned to nobody

[2014-11-23 17:39] #8 closed, assigned to nobody

[2015-08-27 12:21] tahahajar opened #10 "Does Baresip/Libre run on Apple arm64?"
Hi there,

I am trying to do sip registration on an iOS app using libre. I compiled the library to run on the following architectures: i386, armv7 and aarch64 (arm64). The app is built successfully on all architectures, and it does the sip registration on i386 (iphone simulator) and armv7. However, on arm64 everything runs normally until the line where the register sip packet should be sent it exe

[2015-09-19 19:16] alfredh commented on #10
duplicate

[2015-09-19 19:16] #10 closed

[2016-06-07 07:55] funkenstrahlen opened #12 "Cocoapods support"
Is there any way you can provide a cocoapod for this project? This would make it way easier to stay up to date.

[2016-06-07 07:57] funkenstrahlen opened #13 "Opus support?"
Does this also include the opus libraries into the build?

[2016-09-11 09:29] alfredh commented on #13
currently opus is not included in the build.

But this is of course possible to add, just add cross-compiliation of libopus to mk/contrib.mk
and add opus to EXTRA_MODULES.

I am happy to receive patches for this

[2016-09-11 09:30] alfredh commented on #12
perhaps this can help you:

https://cocoapods.org/pods/taresip

[2016-09-11 09:30] #12 closed

[2016-09-11 09:32] alfredh commented on #9
I dont have such guide at the moment.

contributions are welcome

[2016-11-03 04:59] DheerubhaiBansal commented on #1
When I am using $ sudo make install command in Ubuntu, I am getting this error
fatal error: re.h: No such file or directory.
I am using android studio.

[2016-11-03 05:00] DheerubhaiBansal opened #15 "re.h: No such file or directory."
When I am using $ sudo make install command in Ubuntu, I am getting this error
fatal error: re.h: No such file or directory.
I am using android studio

[2016-11-22 19:05] miche-atucha commented on #9
i started a cocoapod library: [taresip](https://github.com/miche-atucha/taresip) based on this repo, it work for me on the time i did it, but i have not updated it in a long time, just in case u want to look at it

[2016-12-05 07:39] shkumar18 commented on #3
Hi @alfredh @chenlucu i have build  and complied the baresip in ubuntu and changed the code according to my requirement directly calling the faunction instaed of giving input from command line.
i have tried the video call but what i can see is that only i can see my self video and that too freezes.
could you pls suggest why this is happenning.
for video i have set video_mode on
err = ua_connect(f-

[2017-01-30 21:22] caynan opened #16 "Undefined symbols for Architecture arm64"
Hi,

I was trying to build the latest version of `Baresip` (0.5.0), I'm also using `libre-0.5.0` and `librem-0.5.0`, and I'm getting the following error:

[code]
Any ideia on what might be causing this?
I'm trying to build on my OSX Machine, running MacOS 10.11.6

Please let me know if there is any other log or information about my machine that you might need.

[2017-03-31 08:59] jfont555 opened #17 "iOS audio problems"
Hi all, i'm testing baresip to be the base of a voip service. I based my tests in something similar like this:
https://gist.github.com/ramki1979/6112198

Basically i don't use ua_connect function because i need all the handlers of the call...
Wtih this setup i can establish a call but i can't hear any audio between two real devices, here is the console output:

stdio.so: No such file or directory

[2017-04-14 00:36] apparition47 commented on #16
Having the exact same issue on macOS 10.12.4/Xcode 8.3. I've tried different recent versions of libre, rem and baresip as well. Have you managed to solve the issue since?

[2017-05-18 10:06] artur commented on #16
+1 same issue here. Anyone managed to get this working ?

[2017-05-18 16:32] artur commented on #16
Solved here: #2

[2017-05-26 11:00] hyakus commented on #17
@jfont555 did you ever solve this issue? How did you get on with using baresip for iOS in general?

Thanks.

[2017-06-08 13:29] jfont555 commented on #17
@hyakus we switched to pjsip... Baresip seems a good option but requires a lot of time to get it working.
Anyway if still interested, take a look in taresip, to get a fast working environment: https://github.com/miche-atucha/taresip

[2017-06-08 14:17] hyakus commented on #17
@jfont555 thanks for getting back to me. Ended up getting sorted building the libraries locally actually and it turns out that my version of this problem was that I hadn't enabled the 'coreaudio' module under EXTRA_MODULES in the modules.mk file.

Essentially, I ended up building my own ObjC handler and passed it to baresip using uag_event_register() and ensuring that the library doesn't set up it

[2017-06-24 18:35] #17 closed

[2017-12-11 12:31] perwx3 opened #18 "No TLS transport on iOS ?"
Hello all,

I have stumbled on yet another network connection issue on iOS with baresip. It seems that on iOS Baresip fails to bind the TLS socket. For example if checking 'SIP Debug' in menu on Android i get UDP, TCP and TLS transports. On iOS I'm getting only UDP and TCP. When I try to register an UA using TLS I get a error printout from Baresip saying something like: SIP register failed - trans

[2017-12-12 20:01] alfredh commented on #18
if you want support for SIP over TLS, you must cross compile OpenSSL for iOS
and make sure that libre is built with this flag:

[code]

[2017-12-13 10:56] perwx3 commented on #18
Ah, yes. Me stupid.... :)

Actually there are two USE_OPENSSL flags in baresip-ios/mk/contrib.mk to enable.. LIBRE_BUILD_FLAGS and BARESIP_BUILD_FLAGS. Rebuilt and TLS works fine now.

Thank you very much for Baresip and all your support, Alfred!

Br,
Per Enstedt - wx3 telecom

[2017-12-13 10:56] #18 closed

[2018-01-29 20:33] saket424 commented on #16
Edit the rem/Makefile

-       @$(LD) $(LFLAGS) $(SH_LFLAGS) $^ -L$(LIBRE_SO) -lre $(LIBS) -o $@
+       @$(LD) $(LFLAGS) $(SH_LFLAGS) $^ -L$(DESTDIR)$(LIBDIR) -lre $(LIBS) -o $@

[2018-07-17 11:14] mathipalm opened #19 "tls-support ios"
Has any one got tls working with ios? All I get is unsupported protocol. I've tried changing the USE_OPENSSL flag in contrib witout luck.

[2018-07-17 12:35] mathipalm commented on #18
@perwx3, how did you cross compile openssl?

[2018-07-17 12:40] perwx3 commented on #18
Hi!

I used this project: https://github.com/x2on/OpenSSL-for-iPhone

[2018-07-17 12:47] mathipalm commented on #18
@perwx3 I tried that too,  but I still get `openssl/sha.h' file not found` am I missing some parts with linking or something or how do i make contrib know how to use openssl?

[2018-07-17 12:48] #19 closed

[2018-07-17 12:59] perwx3 commented on #18
You need to add some stuff to baresip-ios/mk/contrib.mk to make openssl include and link.

Add a symlink to the project from baresip-ios:
ln -s <path to the project> openssl

Edit mk/contrib.mk, add this somewhere before EXTRA_I386:
OPENSSL := $(SOURCE_PATH)/openssl

Then you need to add a include row
-I$(OPENSSL)/include \
in all EXTRA_CFLAGS segments

And also a link row
-L$(OPENSSL)/lib \
in al

[2018-07-17 16:07] mathipalm commented on #18
@perwx3 You sir are my hero:) I'm halfway there though, now i'm getting compile errors. Was that something you encountered as well?

[code]

[2018-07-17 16:35] mathipalm commented on #18
It seems to default to `1.0.2l` but l tried `1.1.0f` with no luck either.  I also tried using clang instead of gcc but I got the same errors

[2018-07-18 07:11] perwx3 commented on #18
I'm compiling baresip/libre 0.5.4 and OpenSSL 1.0.2l for iOS with no errors. I diffed my tls.c with latest libre version and there are some small changes but nothing regarding X509_get_notAfter. Soo... I'm out of suggestions.

[2018-07-18 11:14] mathipalm commented on #18
Hmm. Have you tried with the latest version of baresip/libre?

[2018-10-17 06:03] lilkid3 opened #20 "Having issues with the latest IOS Version"
Good day, I have been able to use bare sip on android but I noticed the https://github.com/alfredh/baresip-ios has not been edited in the past two years. I want to know If baresip has been tested on recent IOS versions.

Thankd you.

[2018-12-08 17:35] #9 closed

[2018-12-08 17:36] #15 closed

[2018-12-30 17:14] #16 closed

[2018-12-30 17:14] #20 closed

[2019-04-10 11:09] bhautik-ziniya commented on #2
@ramki1979  I have also same issue when app lunch it crash

[code]
Can you please give the solution to resolve issue?

[2019-04-10 11:14] bhautik-ziniya commented on #2
Hi @AdilSoomro,
I'm also getting the same error

[code]

I have added all the framework you have mention in the screenshot, what other framework you have added to solve the problem? can you please mention all the framework? or any other solve to this problem?

[2019-04-25 12:54] samirmagnates commented on #17
I have same issue, can't get Audio, and I tried with your solution, like
In modules.mk I have changed code

`
#ifneq ($(USE_COREAUDIO),)

MODULES   += coreaudio

#endif
`
 but now I am getting following error.
<a href="https://ibb.co/tKfM5r3"><img src="https://i.ibb.co/MSTDL09/Screenshot-2019-04-25-at-6-05-28-PM.png" alt="Screenshot-2019-04-25-at-6-05-28-PM" border="0" /></a>

Error is :

[2019-04-25 12:57] samirmagnates opened #21 "Can't get Audio."
I have same issue, can't get Audio, and I tried with your solution, like
In modules.mk I have changed code

[code]
 but now I am getting following error.
<a href="https://ibb.co/tKfM5r3"><img src="https://i.ibb.co/MSTDL09/Screenshot-2019-04-25-at-6-05-28-PM.png" alt="Screenshot-2019-04-25-at-6-05-28-PM" border="0" /></a>

Error is :

        AudioObjectPropertyAddress propertyAddress = {

Could yo

[2019-06-05 22:50] watermamal opened #22 "31mua: no network"
I've tried the taresip cocoa pod and it worked in the simulator but since it didn't work on a real device (arm64) I followed the guide here to compile the libraries myself but I think I might not have added them right to my project, now the code runs on the simulator but it writes this to the console right after starting.

[code]

update: solved the no network error by adding
`guard baresip_init(c

[2019-07-19 11:13] samirmagnates opened #23 "No such file or directory in conf_configure()"
I am creating an application for free audio and video calling using baresip, I have created demo and its working fine in Swift 4.2 , Now same thing I am applying in my existing project and its give me strange behaviour, existing project is in Swift 3.0, below is my code.

     `   override func viewDidLoad() {
          super.viewDidLoad()

        guard libre_init() == 0 else { return }

[2019-08-28 10:57] #21 closed

[2019-08-28 10:57] #22 closed

[2019-08-28 10:57] #23 closed

[2019-08-28 10:59] samirmagnates commented on #23
Hi @alfredh, Could you please give me solution for the same?

[2020-03-05 11:34] #13 closed

[2020-05-08 13:42] jurjen-van-dijk opened #24 "Build libraries for openSSL/TLS"
I try to use baresip in an iOS app, but need to connect with TLS. However, the lib's build with this makefile are excluding openSSL and TLS. Why is that, and how can I build lib's that use TLS?

[2020-05-09 11:32] alfredh commented on #24
you need to add a makefile target to cross-compile openssl.

see here for a similar project:

https://github.com/alfredh/baresip-android/blob/master/Makefile#L202

a Pull Request is welcome.

[2020-06-08 12:44] lilkid3 opened #25 "Problem compiling Baresip for IOS"
1. I am using "re", "rem" & "baresip" from Repository not from [http://www.creytiv.com/pub](url)
2. I ran "make contrib"

Result:

`
LD      librem.dylib
ld: warning: directory not found for option '-L-lre'
Undefined symbols for architecture arm64:
  "_list_append", referenced from:
      _aubuf_append in aubuf.o
      _aumix_source_enable in aumix.o
      _vidmix_source_enable in vidmix.o
  "_lis

[2020-06-08 12:54] lilkid3 commented on #25
OSX: 10.15.5
XCode: Version 11.5 (11E608c)
Baresip: Latest

[2020-06-08 21:46] lilkid3 commented on #25
Not to worry I have solved I the issue using [This comment](https://github.com/baresip/baresip-ios/issues/16#issuecomment-361377073)

[2020-06-08 21:46] #25 closed

[2020-06-11 13:32] lilkid3 opened #26 "RE: dyld: Library not loaded: libre.dylib Reason: image not found"
I have the same issue compile IOS App just as the one [here](https://github.com/baresip/baresip-ios/issues/2#issue-9141500).
I have followed his steps(or solution) and I have this as my error

`dyld: Library not loaded: libre.dylib
  Referenced from: /Users/<apple>/Library/Developer/CoreSimulator/Devices/19EE7E1B-1236-4E74-A998-9F29186286C9/data/Containers/Bundle/Application/B366E9C2-51ED-4B2F-ACC

[2020-06-11 13:58] lilkid3 commented on #2
Hi @bhautik-ziniya Have you solved the problem ?

[2020-06-11 16:32] AdilSoomro commented on #2
We moved from baresip to another sip stack. So really sorry if I don't reply to your questions as I'm really out of context of baresip.

[2020-06-11 17:02] lilkid3 commented on #2
Thank you for your response.

[2020-06-12 13:34] #26 closed

[2020-07-04 10:42] rrpathak007 commented on #24
I have added openssl and bitcode bellow repo.
https://github.com/rrpathak007/baresip-ios-bitcode

Pre Build openssl for ios.
https://github.com/rrpathak007/ios-openssl-lib

@jurjen-van-dijk  Hope this will help you.
@alfredh I already submit a Pull Request for bitcode. let me know if you want me to add openssl on it.

[2020-07-09 12:45] jurjen-van-dijk commented on #24
Thanks @rtcexpert ! I will have a look at it.

[2020-07-14 16:19] LonestarX91 commented on #18
sorry for reviving this but i seem to be stuck on this step. i did all this and still get

include/re_sha.h:9:10: fatal error: 'openssl/sha.h' file not found
#include <openssl/sha.h>

Can you pretty please help ? :)

Thanks

[2020-07-15 16:47] LonestarX91 opened #28 "AudioUnit hell"
Hello,

So i have a big issue. The story starts like this: I need audio only (no video), a few days ago I tried using https://github.com/miche-atucha/taresip which was lovely managed to call, could hear the other client (even tho it had a small issue of unintentional audio passthrough, it was pretty much ok). ALSO, IT USED COREAUDIO *surprised pikachu*. As far as I looked, that was built with bare

[2020-07-15 23:47] LonestarX91 commented on #28
Switched from that fork to baresip-ios repo, patched contrib.mk for TLS (https://gist.github.com/LonestarX91/e5aca98ab051999499e7b59ec18892b7) and built for 0.6.0 all (which was HEAD). still getting those pesky errors you see, but I also discovered this which seems to encounter my issue https://github.com/baresip/baresip/issues/784... You said you pushed it to master but I don't understand how it

[2020-07-16 00:17] LonestarX91 commented on #28
switched to 0.6.6 baresip, same problem
log: https://gist.github.com/LonestarX91/b2974ae949ebb131964ee8ec651533ba
config: https://gist.github.com/LonestarX91/447b3e9ff0883ab98027ec6e9a68628b
hopes and dreams:
![image](https://user-images.githubusercontent.com/8129596/87612321-e09dd400-c712-11ea-931c-4f39ef263197.png)

[2020-07-16 10:35] LonestarX91 commented on #28
Well, finally ended my story with patching baresip 0.6.1 coreaudio with this https://github.com/ylevytskyy/baresip/commit/66b147373b8deab802e2e76e56309ea849c5c2bc

Now audio works fine and I have TLS. Would've been nice to use audiounit but beggars can't be pickers

hope this thread helps anyone

[2020-07-29 14:03] samirmagnates opened #29 "31mcall: sipsess_connect: Invalid argument"
I have implemented baresip in one of the ios projects, registration is successful for sip account using following code

`

      var agent: OpaquePointer? = nil
   Method called --  Client(username: username, password: password, agent: &agent)

     required init?(username: String, password: String, agent: inout OpaquePointer?) throws {
        guard libre_init() == 0 else { throw SipError.libre }

[2020-08-20 13:23] joaoduartemariucio commented on #28
@LonestarX91

Can you describe better how you solved the audio problem? I have the same problem:

[code]

[2020-08-28 13:25] xyz-ios1 commented on #21
@alfredh could you please guide me for the same issue, because without any comment you have closed the ticket.

[2020-08-28 13:27] samirmagnates commented on #21
@alfredh could you please let me know why you close the ticket without any comment..... I need help for audio issue.

[2020-09-17 06:59] PranavSolanki230 opened #30 "Undefined symbols for architecture arm64: Can compile baresip but gives errors while using it in xcode project"
I can compile baresip with modification in contrib file like below:
EXTRA_MODULES='g711 audiounit avformat avcapture opengles avcodec'

Terminal results:
LD      libre.dylib
  AR      libre.a
  LD      libre.dylib
  AR      libre.a
  LD      libre.dylib
  AR      libre.a
  LD      libre.dylib
  AR      libre.a
  LD      librem.dylib
  AR      librem.a
  LD      librem.dylib
  AR      librem.a
  LD

[2020-09-17 07:00] PranavSolanki230 commented on #30
Xcode 10.2.1 Swift 5

[2020-11-04 12:43] Koshub opened #31 "No audio recording"
Thank you for your work on baresip!
Is it possible to understand how it should work? It seems the audio module doesn't record the audio. How to check is it active at all?
Use baresip version `1.0` with `EXTRA_MODULES='g711 srtp audiounit avcapture opus'`

[code]

[2020-11-05 08:23] Koshub commented on #31
Something is wrong with the audio and the connection is terminating due, for example, Audio stream timeout (message from Blink client logs).

What I make working is only the version that uses the CoreAudio framework. For example from this repo where the baresip version is 0.4.20. And that works only because it contains already compiled libs. For now, it is not possible to compile that stuff since

[2020-11-06 13:00] Koshub commented on #31
Ok. The configuration process is not so clear. I think this should be applied by default on iOS target for config default template (not the CoreAudio one since it doesn't work in baresip for iOS):
[code]

[2020-11-06 13:00] #31 closed

[2020-11-06 13:06] Koshub commented on #28
Got the same error:
`AUBuffer.h:61:GetBufferList: EXCEPTION (-1) [mPtrState == kPtrsInvalid is false]: ""`

with current master version with `audiounit` configured, without `coreaudio`.
[code]

[2020-11-09 15:45] Koshub commented on #28
And probably with open ssl:
[code]

[2020-11-10 16:20] Koshub commented on #28
Confirm the errors like:
[code]
but can hear the audio on iOS. Stack:
- audiounit
- srtp (with openssl)
- opus (or without)

[2020-12-17 00:43] samirmagnates opened #33 "Invalid password (0 - 63 characters followed by newline) and outbound requires valid UUID!"
When trying to register I am getting an invalid password error

 this is my Address:

`let addr = "sip:\(username)@\(strSIPURL):18002;auth_pass=\(password);sipnat=outbound;outbound=\"sip:\(strSIPURL):18002;transport=udp\";answermode=manual;stunuser=311;audio_codecs=PCMU/8000/1,PCMA/8000/1;video_codecs=VP9,VP8,H264,H264;mwi=no;ptime=20;regint=3600;regq=0.5;pubint=0;"`

**My Log:**
Local network add

[2020-12-25 07:46] samirmagnates opened #34 "Install baresip 1.0.0 getting error of No rule to make target"
I am trying to install updated baresip version 1.0.0, before that I alreday installed 0.6.5 and its successfuly installd:  Now I get 4  zip from below link (master)

https://github.com/creytiv/rem
https://github.com/baresip/re
https://github.com/baresip/baresip
and
https://github.com/baresip/baresip-ios

added three unzip folder rem, re and baresip in baresip-ios-master

then fire command :
`$ mak

[2020-12-27 14:32] alfredh commented on #34
can you please try again with latest HEAD from git ?

I made a fix in 61f79e69e741e017156c54a97d4d793355d1ffd2

NOTE: this project needs a maintainer, I am not using it actively anymore.

[2020-12-27 23:30] samirmagnates commented on #3
in the baresip library, I checked the function has only 4 arguments and you passed five arguments.
`      int  ua_init(const char *software, bool udp, bool tcp, bool tls);`
I think either you are using another library or I am using another library... My library is baresip 0.6.5, could you please help me and let me know which library version you are using?

[2020-12-28 08:19] samirmagnates commented on #34
@alfredh Thanks for your support... Now it's working perfectly.
 I am really interested to maintain this project.. what should I do for the same? is there any guideline to maintain this project?

[2020-12-30 16:56] samirmagnates commented on #28
@Koshub did you find any solution? I am using Xcode11 and Xcode10 with ios 13 and ios 14, I am not getting audio...

[2020-12-30 18:20] Koshub commented on #34
@alfredh I have already fixed this and other issues in [this PR](https://github.com/baresip/baresip-ios/pull/32), please take a look at commit commets. It will definitely help other developers to get started using baresip on iOS

[2020-12-30 18:32] Koshub commented on #28
@samirmagnates answered [here](https://github.com/baresip/baresip/issues/1174#issuecomment-752696542)

[2021-01-03 14:39] alfredh commented on #24
please make a PR to cross-compile OpenSSL for iOS.

[2021-01-03 14:39] #24 closed

[2021-01-03 14:44] alfredh commented on #28
please create a new ticket for this, use latest versions from git HEAD.
please provide exact info about software/hardware etc.

[2021-01-03 14:44] #28 closed

[2021-01-03 14:46] alfredh commented on #29
are you still having this problem ?

please add debug print to the call stack to find out where EINVAL comes from.
please also include full info about versions, config, code.

[2021-01-03 14:46] #29 closed

[2021-01-03 14:48] alfredh commented on #30
the missing symbols are from your ffmpeg libraries.

can you please share how they are cross-compiled ?
please verify that symbols are present in your ffmpeg libs for all archs.

[2021-01-03 14:50] alfredh commented on #33
please clean up your config and dont load modules that you dont need.

do you need to load account.so ?

[2021-01-03 14:52] alfredh commented on #34
all pull requests are welcome :)

We need some help to maintain this project. Please let me know if you can help :)

[2021-01-03 14:52] #34 closed

[2021-01-03 16:47] Koshub commented on #34
According to the license, this project is almost the single solution for SIP stack on iOS which is compatible with App Store without any legal issues (see [here](https://www.fsf.org/blogs/licensing/more-about-the-app-store-gpl-enforcement)  for more details). So it worth supporting it. The other good solutions are either paid or LGPL, GPL licensed.

[2021-01-04 04:24] samirmagnates commented on #33
let me remove it and try.

[2021-01-04 14:40] samirmagnates commented on #33
Getting the same error...

[2021-01-04 14:46] samirmagnates opened #35 "Baresip 1.0.0 setup iOS video codec issue"
Audio is working fine in the application, now I am trying to implement video. I just follow the steps:
In contrib.mk I just added the following module :

`EXTRA_MODULES='g711 audiounit avcapture vp8 vp9'`

but getting error one by one ..

`modules/avcodec/avcodec.c:9:10: fatal error: 'libavutil/pixdesc.h' file not found
#include <libavutil/pixdesc.h`

`  CC [m]  /Users/samir/Desktop/WorkFrom_Home_

[2021-01-11 07:36] #33 closed

[2021-01-16 21:18] #30 closed

[2021-01-17 13:17] alfredh commented on #35
did you cross-compile ffmpeg or libvpx for ios ?

[2021-01-18 08:51] samirmagnates commented on #35
nope, but let me try the following things, please guide me if I am going wrong.
1. download ffmpeg or libvpx library for ios
2. and then implement that module in baresip
3. and then start video codec and its implementation.

[2021-01-18 18:52] HammerProgrammer opened #36 "Can't compile g722 codec"
`modules/g722/g722.c:13:10: fatal error: 'spandsp.h' file not found`
I've installed spandsp with Homebrew like it says in the wiki but it still can't find the header
managed to fix this by adding a CPATH to /usr/local/include
but now during building in Xcode I get this error

`Undefined symbols for architecture x86_64:
  "_g722_decode", referenced from:
      _decode in libbaresip.a(g722.o)
  "_g7

[2021-01-25 15:37] samirmagnates commented on #35
@alfredh I tried both libraries, and other things also .. but can't succeed.

[2021-02-21 23:36] HammerProgrammer opened #37 "Memory leaks and crash after relaunching the baresip stack in iOS"
If I register or make a call and then close baresip and relaunch it again it will crash after some time has passed or if I try to register or make a call again.
My code is here: https://pastebin.com/t7a80DFz
and the log below
[code]

[2021-02-23 05:21] samirmagnates commented on #35
@Koshub could you please help me with the video codec issue in iOS,

Thanks in advance.

[2021-02-23 20:31] Koshub commented on #35
@samirmagnates sorry, I do not use video modules

[2021-02-25 04:56] #36 closed

[2021-02-28 17:03] HammerProgrammer commented on #37
I've removed all the unnecessary modules, and I have moved the re_main loop to a serial queue, re_cancel is being called and I can see the serial queue stops running before deinit. And everytime I relaunch the stack (load the viewcontroller again)  my memory usage goes up more and more.
[code]

[2021-03-02 07:06] PranavSolanki230 opened #38 "I have build baresip(1.0.0) with EXTRA_MODULES='g711 audiounit avformat avcapture avcodec avfilter sdl' then added required files to my xcode project but can't succeed to make video calls. Any help ???"
And should I need to make any changes in any .c or .h file to make the video call working? (I have never worked in objective C using swift)
Any help appreciated

[2021-03-03 11:28] PranavSolanki230 commented on #38
Do I need to change anything to load **_Video display modules_** cause it seems like it also not loading any video display modules

[2021-03-03 11:35] PranavSolanki230 commented on #38
Below is the console output and I think it can't load **_Video Display Modules_**. Any suggestions

_[31mdl: mod: /usr/local/lib/baresip/modules/sdl.so (dlopen(/usr/local/lib/baresip/modules/sdl.so, 6): image not found)
[;m[31mmodule sdl.so: No such file or directory
[;m[31mdl: mod: /usr/local/lib/baresip/modules/opengles.so (dlopen(/usr/local/lib/baresip/modules/opengles.so, 6): image not fo

[2021-03-11 05:12] PranavSolanki230 commented on #38
I can build baresip 1.0.0 with above EXTRA MODULES, but when I try to register user it shows below errors:
[;m[31mdl: mod: /usr/local/lib/baresip/modules/avformat.so (dlopen(/usr/local/lib/baresip/modules/avformat.so, 6): image not found)
[;m[31mmodule avformat.so: No such file or directory
[;mvidsrc: avcapture
[31mdl: mod: /usr/local/lib/baresip/modules/sdl.so (dlopen(/usr/local/lib/baresip

[2021-03-11 05:54] PranavSolanki230 commented on #38
This is the console o/p. Don't know where I m going wrong.

path of config file= /var/mobile/Containers/Data/Application/xxxxxxx/Documents
[31mconfig: no sip_cafile defined, tls connections maybe won't work
[;mLocal network address:  IPv4=en0|192.xxx.xx.xxx  IPv6=en0|xxxx:4041:xxx:343:xxxx:b531:xxxx:c1eb
[31mdl: mod: /usr/local/lib/baresip/modules/stdio.so (dlopen(/usr/local/lib/baresip/modules

[2021-03-11 05:58] PranavSolanki230 commented on #38
Below is the config file

#
# baresip configuration
#

#------------------------------------------------------------------------------

# Core
poll_method        kqueue        # poll, select, kqueue ..

# SIP
#sip_listen        0.0.0.0:5060
#sip_certificate    cert.pem
#sip_cafile        /etc/ssl/cert.pem

# Call
call_local_timeout    120
call_max_calls        4

# Audio
audio_path        /usr/loc

[2021-03-30 21:16] HammerProgrammer commented on #37
It no longer crashes. Also tmr_debug and mem_Debug no longer report any hanging timers or leaks.
I had to call ua_stop_all(1) every time I wanted to close, even if re_main is not returning an error.

[2021-03-30 21:16] #37 closed

[2021-04-02 09:55] smdDkeys opened #39 "Make contrib error"
This is the error that occurs when "make contrib". Has anyone come across this?
[code]

[2021-04-16 08:45] #39 closed

[2021-04-27 09:17] lilkid3 commented on #36
Hi @HammerProgrammer, I have the same issue using, how did you handle the g722 codec. Thanks

[2021-04-27 15:35] HammerProgrammer commented on #36
The g722 codec is not included in baresip you need to compile it yourself

[2021-04-28 03:34] lilkid3 commented on #36
@HammerProgrammer Thanks, could you please share steps on how to compile the G722 codec. Thanks

[2021-05-13 15:01] tatuanfpt commented on #28
https://github.com/robovm/apple-ios-samples/blob/master/CoreAudioUtilityClasses/CoreAudio/AudioUnits/AUPublic/Utility/AUBuffer.h
I tracked down the source which logging it but cant turn it off. For my case, it work normally except annoying message.

[2021-05-20 15:38] kannanmaran opened #40 "ua_init Error 49"
Hello!!

### In iOS when connected to wifi ua_init method returning **49**  Error code but it's working fine in mobile data on the same device. let me know if you need any debug print. Kindly help me with this.

as mentioned in this [issue](https://github.com/baresip/baresip/issues/434), I have copied the route.h file in iOS SDK also

OsType: iOS
Model: iPhone 8 Plus
OsVersion: 14.4
Baresip v 1.1.

[2021-05-22 09:04] Koshub opened #41 "Unexpected timeouts on canceled connecting call"
Hello. I am using baresip v 1.0.0 as a library (on iOS so with `kqueue`). My use cases require to stop baresip main loop and restart when required. I have found the edge case when on finishing the call which is trying to connect and trying to shut down baresip completely I have some delay which may take about up to 20 seconds or so. So the next call I can start only after the main loop finished an

[2021-05-22 10:55] Koshub commented on #41
@alfredh  thank you for your reply. I use one thread to run re_main. I also use mqueue to run ua_stop_all(0) inside that thread. So it should work. And it works as expected when the call is normally operated - connected, answered, closed. But in case the call can't connect it waits and after I send ua_stop_all(0) re_main does nothing until some event. That event is just emitted by some logic after

[2021-05-22 14:24] kannanmaran commented on #40
Hello!! @alfredh
Thanks for your reply.

it looks like a socket bind error as mentioned [here](https://stackoverflow.com/questions/16653794/ios-socket-bind-error-49-cant-assign-requested-address) I have tried the same app in a different network via wifi it was working fine. But this issue occurs in some wifi networks. and its works well in mobile data.

I have tried running baresip command from my

[2021-05-22 16:09] sreimers commented on #40
Can you try the current libre version with: https://github.com/baresip/re/commit/9a06d8c84981aaa283b48b8ad125ef4d07c4a877

[2021-05-23 04:41] kannanmaran commented on #40
Hell!! @sreimers
Thanks for your fix. this fix works fine in my ubuntu machine. but still, am facing the same issue in iOS. can you please help with this?

[2021-05-24 14:04] kannanmaran commented on #40
Hello!!! @alfredh @sreimers
below is the error is getting from iOS can you help me with this?

`ua: SIP Transport failed: Can't assign requested address
ua: init failed (Can't assign requested address)`

[2021-05-25 10:46] kannanmaran commented on #40
Hello!! @alfredh @sreimers

in iOS while setting ipv6 local address to net_set_address(baresip_network(), &temp_sa); only am getting the issue.
if is set ipv4 local address alone it's working fine.

this is the error am getting for ipv6.
** tcp: sock_bind: bind: Can't assign requested address (af=30, [fe80::8f1:502d:f9a2:fc97]:0)

is this error because their network is not supporting ipv6 or?
as o

[2021-05-26 10:30] sreimers commented on #40
socket binding for a ipv6 link local address requires a scope. you can prevent this like this:

[code]

[2021-05-27 03:08] lecong opened #42 "libcrypto.dylib for architecture x86_64"
Hi,
I want using this library for iOS 12 (64 bit)

When I run command:
`$ make contrib`

have error:
[code]

Can your help me resolve it?

[2021-05-27 13:13] kannanmaran commented on #40
Hello!! @sreimers

Thanks for your reply. ill try this and get back to you.

[2021-05-27 13:13] #40 closed

[2021-06-10 09:47] kisso commented on #42
i have same issue...

[2021-06-14 14:19] Koshub commented on #41
@alfredh BTW. This issue was transferred to baresip-ios. This is not specific for iOS, it is about integration with OS. I suppose you may find the same issue on any system which uses `kqueue` because `re_main` just stucks in `fd_pull` waiting for `kevent` in the use case I described above.

[2021-06-14 15:31] sreimers commented on #41
this is at first the normal behavior, `fd_poll` waits for a event by a file descriptor or until the next timer expires. Is there a difference if you force ua_stop_all with `ua_stop_all(true)`?

[2021-06-14 18:57] Koshub commented on #42
Probably for quick fix setting empty `OPENSSL_OPT :=` will help (see [here](https://github.com/baresip/re/blob/master/mk/re.mk#L430)). It's just trying to use macOS openssl which is not built for iOS

[2021-06-15 08:09] kisso commented on #42
after that fix I am getting another error: Makefile:148: *** bad libre version, required version is ">= 2.0.1-dev". LIBRE_MK: ../re/mk/re.mk.  Stop.
make: *** [baresip] Error 2

[2021-06-15 11:54] Koshub commented on #41
@sreimers Sorry for the delay in the answer. And again thanks for support. It's really hard to test to understand the truth. It sounds like ua_stop_all(1) makes things more delayed. But I am not sure.

I understand that. I have just found some configuration [here](https://github.com/baresip/re/blob/master/include/re_sip.h#L136):
[code]
Is it possible timers using these values could work too long t

[2021-06-15 13:40] kisso opened #44 "existing swift integration example"
hello guys, do you know about any existing open source app solution using baresip-ios? It is hard to start without documenation, best would be to see existing iOS application integrated with baresip-ios

[2021-06-15 20:11] sreimers commented on #42
Thanks

[2021-06-17 14:41] sreimers commented on #41
Can you try this patch:

[code]

This should help to reduce the timeout if `re_cancel` already called (re->polling = false).

And `re_cancel ` is normally called by:

https://github.com/baresip/baresip/blob/56f537ce1229fd1aa32977431d3db8e10c259235/src/uag.c#L37

If you setup `uag_set_exit_handler(ua_exit_handler, NULL);` like this:
[code]

[2021-06-19 13:09] #35 closed

[2021-06-19 13:09] #38 closed

[2021-06-19 13:14] alfredh commented on #41
can you try to debug the timers and see which timers are active when this happens ?

please note that when the SIP register client is unregistering, it will wait for 200 ok
from the server. if the response does not arrive, at will timeout after N seconds.

my advice is to add lot of debug printf and try to see where the delay comes from :)

[2021-07-22 10:20] Ehorizon2017 opened #45 "PLC Baresip IOS Support"
hi, is it possible to integrate PLC in iOS baresip?

[2021-07-22 10:25] Ehorizon2017 commented on #45
I've been searching for how many days how to integrate it to IOS baresip but unfortunately, I only see android baresip example in this link https://github.com/juha-h/libbaresip-android, can you help me give me a hint on how to do this.

[2021-07-23 03:47] Ehorizon2017 commented on #45
I already installed tiff and spandsp using brew in my build machine and added plc in BARESIP_BUILD_FLAGS in different architectures. so far the compilation went smooth, but after running in Xcode this error appears.

Undefined symbols for architecture arm64:
  "_plc_rx", referenced from:
      _decode in libbaresip.a(plc.o)
  "_plc_fillin", referenced from:
      _decode in libbaresip.a(plc.o)
  "

[2021-08-05 09:26] #45 closed

[2021-09-01 12:59] kisso opened #47 "Cant use audio from background"
Hello, I am trying to connect to call from background, I get VoIP notification and after accepting the call I start app and get following error:
CALL_ANSWERED
stream: update 'audio'
audio: Set audio decoder: PCMU 8000Hz 1ch
[31maudiounit: AudioSessionSetActive: 1701737535
[;m[31maudio: start_player failed (audiounit.default): Operation not supported
[;m[31mcall: update: audio_decoder_set erro

[2021-09-09 13:40] kisso opened #48 "How to play video from baresip-ios?"
How to play video from baresip-ios?

[2021-09-29 21:33] Koshub commented on #47
@kisso
Did you enable background audio & Voice over IP modes in your XCode project?

[2021-10-25 13:00] smdDkeys opened #49 "How to properly unsubscribe from receiving events?"
How to properly unsubscribe from receiving events?
[code]

[2021-10-27 07:50] #49 closed, assigned to nobody

[2022-06-08 01:56] ZCSDK opened #51 "meke contrib: error: missing MD5 backend"
libre/dns/darwin/srv.o
  CC      /Users/zhangxinyao/Documents/project/baresip/baresip-ios/build/aarch64/libre/md5/wrap.o
src/md5/wrap.c:39:2: error: missing MD5 backend
#error missing MD5 backend
 ^
src/md5/wrap.c:25:25: warning: unused parameter 'd' [-Wunused-parameter]
void md5(const uint8_t *d, size_t n, uint8_t *md)
                        ^
src/md5/wrap.c:25:35: warning: unused parameter 'n'

[2022-10-20 13:40] NikunjiOS commented on #51
did you find any solution?